@font-face {
  font-family: 'Vazir';
  src: url('./fonts/Vazir-persian-digits-overwrite.woff');
}

html,
body {
  font-family: 'Vazir';
  font-size: 11px;
  height: 100%;
  background-color: #ecf0f5;
}

.q-input-chips .q-icon.cursor-pointer.material-icons,
.q-input-chips .q-chip-main {
  font-size: smaller;
}
.q-chip-small {
  padding: 0px 5px;
  margin: 0px 1px;
}
