USE [master]
GO
/****** Object:  Database [naslegh1_nasleghalam2]    Script Date: 2019/02/17 07:27:35 ب.ظ ******/
CREATE DATABASE [naslegh1_nasleghalam2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'naslegh1_nasleghalam2', FILENAME = N'D:\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\naslegh1_nasleghalam2.mdf' , SIZE = 67904KB , MAXSIZE = 512000KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'naslegh1_nasleghalam2_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\naslegh1_nasleghalam2_log.ldf' , SIZE = 51200KB , MAXSIZE = 51200KB , FILEGROWTH = 0)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [naslegh1_nasleghalam2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [naslegh1_nasleghalam2]
GO
USE [naslegh1_nasleghalam2]
GO
/****** Object:  User [naslegh1_naslegh1]    Script Date: 2019/02/17 07:27:46 ب.ظ ******/
CREATE USER [naslegh1_naslegh1] FOR LOGIN [naslegh1_naslegh1] WITH DEFAULT_SCHEMA=[naslegh1_naslegh1]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [naslegh1_naslegh1]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [naslegh1_naslegh1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [naslegh1_naslegh1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [naslegh1_naslegh1]
GO
/****** Object:  Schema [naslegh1_naslegh1]    Script Date: 2019/02/17 07:27:49 ب.ظ ******/
CREATE SCHEMA [naslegh1_naslegh1]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetAdminAcceess]    Script Date: 2019/02/17 07:27:49 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
create FUNCTION [dbo].[fnGetAdminAcceess]()

RETURNS  nvarchar(300)
AS
BEGIN
	
	declare @powActionBit as int = 4,
	@counter as int = 0,
	@actionBit as nvarchar(300),
	@sumOfAction as nvarchar(300) = '',
	@actionBitLen as int = 0,
	@sumOfActionLen as int = 0,
	@sumOfActionChar as int,
	@actionBitChar as int,
	@carry as int = 0,
	@sum as int = 0;

	declare cur1 CURSOR FOR 
		select ActionBit from Actions where ActionBit != 0 group by ActionBit 

	open cur1;
	fetch next from cur1 into @powActionBit
	WHILE @@FETCH_STATUS = 0  
	BEGIN	
		
		set @actionBit = 1;
		set @counter = 0;

		while @counter < @powActionBit
		begin
			set @actionBit = CONCAT(@actionBit, '0');
			set @counter = @counter + 1;
		end
		---------------------------------------------

		set @actionBitLen = LEN(@actionBit);
		set @sumOfActionLen = LEN(@sumOfAction)
		set @counter = 0;

		if @actionBitLen > @sumOfActionLen
		begin	
			while (@actionBitLen - @sumOfActionLen) > @counter
			begin
				set @sumOfAction = CONCAT('0', @sumOfAction);
				set @counter = @counter + 1;
			end
		end
		else
			begin	
			while (@sumOfActionLen - @actionBitLen) > @counter
			begin
				set @actionBit = CONCAT('0', @actionBit);
				set @counter = @counter + 1;
			end
		end
		---------------------------------------------


		set @counter = LEN(@actionBit);
		while @counter > 0
		begin
			select @actionBitChar = SUBSTRING(@actionBit, @counter, 1);
			select @sumOfActionChar = SUBSTRING(@sumOfAction, @counter, 1);

			set @sum = (@actionBitChar + @sumOfActionChar + @carry);
			set @sumOfAction = STUFF(@sumOfAction, @counter, 1, (@sum % 2))

			set @carry = @sum / 2;

			set @counter = @counter - 1;
		end

		if @carry = 1
			set @sumOfAction = CONCAT(@carry, @sumOfAction);
		---------------------------------------------

		fetch next from cur1 into @powActionBit
	end
	CLOSE cur1;
	DEALLOCATE cur1;

	return @sumOfAction;

END
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019/02/17 07:27:50 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 2019/02/17 07:27:51 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FaName] [nvarchar](50) NOT NULL,
	[ActionBit] [smallint] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[IsIndex] [bit] NOT NULL,
	[ControllerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Actions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AxillaryBooks]    Script Date: 2019/02/17 07:27:54 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AxillaryBooks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PublishYear] [smallint] NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Isbn] [nvarchar](100) NOT NULL,
	[Font] [nvarchar](50) NULL,
	[ImgName] [nvarchar](200) NULL,
	[Price] [int] NOT NULL,
	[OriginalPrice] [int] NOT NULL,
	[Description] [nvarchar](300) NULL,
	[LookupId_PrintType] [int] NOT NULL,
	[PublisherId] [int] NOT NULL,
	[LookupId_PaperType] [int] NOT NULL,
	[LookupId_BookType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AxillaryBooks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AxillaryBooks_EducationBooks]    Script Date: 2019/02/17 07:27:55 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AxillaryBooks_EducationBooks](
	[AxillaryBookId] [int] NOT NULL,
	[EducationBookId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AxillaryBooks_EducationBooks] PRIMARY KEY CLUSTERED 
(
	[AxillaryBookId] ASC,
	[EducationBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boxes]    Script Date: 2019/02/17 07:27:57 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boxes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Boxes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 2019/02/17 07:27:59 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProvinceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Controllers]    Script Date: 2019/02/17 07:28:00 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Controllers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FaName] [nvarchar](50) NOT NULL,
	[EnName] [nvarchar](50) NOT NULL,
	[Icone] [nvarchar](200) NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[ModuleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Controllers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationBooks]    Script Date: 2019/02/17 07:28:03 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationBooks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[PublishYear] [smallint] NOT NULL,
	[IsExamSource] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsChanged] [bit] NOT NULL,
	[LessonId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EducationBooks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationSubGroups]    Script Date: 2019/02/17 07:28:05 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationSubGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[EducationTreeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EducationSubGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationTrees]    Script Date: 2019/02/17 07:28:07 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationTrees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ParentEducationTreeId] [int] NULL,
	[LookupId_EducationTreeState] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EducationTrees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationTrees_Lessons]    Script Date: 2019/02/17 07:28:08 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationTrees_Lessons](
	[EducationTreeId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EducationTrees_Lessons] PRIMARY KEY CLUSTERED 
(
	[EducationTreeId] ASC,
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationYears]    Script Date: 2019/02/17 07:28:10 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationYears](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActiveYear] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EducationYears] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 2019/02/17 07:28:11 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[EducationTreeId] [int] NOT NULL,
	[EducationYearId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryEducations]    Script Date: 2019/02/17 07:28:13 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryEducations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[RankGoal] [int] NOT NULL,
	[ExamId] [int] NOT NULL,
	[EducationTreeId] [int] NOT NULL,
	[EducationSubGroup_Id] [int] NULL,
 CONSTRAINT [PK_dbo.HistoryEducations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryEducations_Cities]    Script Date: 2019/02/17 07:28:15 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryEducations_Cities](
	[HistoryEducationId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HistoryEducations_Cities] PRIMARY KEY CLUSTERED 
(
	[HistoryEducationId] ASC,
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryEducations_UniversityBranchs]    Script Date: 2019/02/17 07:28:18 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryEducations_UniversityBranchs](
	[HistoryEducationId] [int] NOT NULL,
	[UniversityBranchId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.HistoryEducations_UniversityBranchs] PRIMARY KEY CLUSTERED 
(
	[HistoryEducationId] ASC,
	[UniversityBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 2019/02/17 07:28:19 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsMain] [bit] NOT NULL,
	[LookupId_Nezam] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Lessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lookups]    Script Date: 2019/02/17 07:28:20 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lookups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Lookups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 2019/02/17 07:28:22 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Priority] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.Modules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 2019/02/17 07:28:24 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 2019/02/17 07:28:25 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Publishers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionAnswers]    Script Date: 2019/02/17 07:28:28 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Context] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](200) NULL,
	[LookupId_AnswerType] [int] NOT NULL,
	[Description] [nvarchar](300) NULL,
	[Author] [nvarchar](100) NULL,
	[IsMaster] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionAnswerViews]    Script Date: 2019/02/17 07:28:29 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswerViews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rate] [tinyint] NOT NULL,
	[AnswerId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionAnswerViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionEquals]    Script Date: 2019/02/17 07:28:30 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionEquals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EqualType] [tinyint] NOT NULL,
	[QuestionId1] [int] NOT NULL,
	[QuestionId2] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionEquals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionGroups]    Script Date: 2019/02/17 07:28:31 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[InsertTime] [datetime] NOT NULL,
	[WordFile] [nvarchar](50) NULL,
	[ExcelFile] [nvarchar](50) NULL,
	[LessonId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionGroups_Questions]    Script Date: 2019/02/17 07:28:32 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionGroups_Questions](
	[QuestionGroupId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionGroups_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionGroupId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionJudges]    Script Date: 2019/02/17 07:28:35 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionJudges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hardness] [tinyint] NOT NULL,
	[Repeatness] [tinyint] NOT NULL,
	[IsStandard] [bit] NOT NULL,
	[ResponseSecond] [smallint] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionJudges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOptions]    Script Date: 2019/02/17 07:28:36 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Context] [nvarchar](max) NOT NULL,
	[IsAnswer] [bit] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 2019/02/17 07:28:38 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Context] [nvarchar](max) NOT NULL,
	[QuestionNumber] [int] NOT NULL,
	[LookupId_QuestionType] [int] NOT NULL,
	[QuestionPoint] [int] NOT NULL,
	[LookupId_QuestionHardnessType] [int] NOT NULL,
	[LookupId_RepeatnessType] [int] NOT NULL,
	[UseEvaluation] [bit] NOT NULL,
	[IsStandard] [bit] NOT NULL,
	[LookupId_AuthorType] [int] NOT NULL,
	[AuthorName] [nvarchar](100) NULL,
	[ResponseSecond] [smallint] NOT NULL,
	[LookupId_AreaType] [int] NOT NULL,
	[Description] [nvarchar](300) NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[InsertDateTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Lookup_AreaType_Id] [int] NULL,
	[Lookup_AuthorType_Id] [int] NULL,
	[AnswerNumber] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions_Boxes]    Script Date: 2019/02/17 07:28:41 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions_Boxes](
	[QuestionId] [int] NOT NULL,
	[BoxId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Questions_Boxes] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC,
	[BoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions_Tags]    Script Date: 2019/02/17 07:28:42 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions_Tags](
	[QuestionId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Questions_Tags] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratios]    Script Date: 2019/02/17 07:28:42 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rate] [tinyint] NOT NULL,
	[LessonId] [int] NOT NULL,
	[EducationSubGroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ratios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2019/02/17 07:28:43 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Level] [tinyint] NOT NULL,
	[SumOfActionBit] [nvarchar](300) NOT NULL,
	[UserType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2019/02/17 07:28:45 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] NOT NULL,
	[FatherName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2019/02/17 07:28:47 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsSource] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 2019/02/17 07:28:48 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FatherName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 2019/02/17 07:28:52 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ExamStock] [int] NOT NULL,
	[ExamStockSystem] [int] NOT NULL,
	[Importance] [smallint] NOT NULL,
	[IsExamSource] [bit] NOT NULL,
	[LookupId_HardnessType] [int] NOT NULL,
	[LookupId_AreaType] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ParentTopicId] [int] NULL,
	[LessonId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics_EducationBooks]    Script Date: 2019/02/17 07:28:54 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics_EducationBooks](
	[TopicId] [int] NOT NULL,
	[EducationBookId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topics_EducationBooks] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC,
	[EducationBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics_Questions]    Script Date: 2019/02/17 07:28:57 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics_Questions](
	[TopicId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topics_Questions] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniversityBranches]    Script Date: 2019/02/17 07:28:58 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniversityBranches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SiteAverage] [int] NOT NULL,
	[Balance1Low] [int] NOT NULL,
	[Balance1High] [int] NOT NULL,
	[Balance2Low] [int] NOT NULL,
	[Balance2High] [int] NOT NULL,
	[EducationSubGroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UniversityBranches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2019/02/17 07:28:59 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Family] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[NationalNo] [nvarchar](10) NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [nvarchar](8) NULL,
	[Mobile] [nvarchar](10) NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 
GO
INSERT [dbo].[Actions] ([Id], [FaName], [ActionBit], [Priority], [IsIndex], [ControllerId]) VALUES (1, N'مشاهده', 1, 1, 1, 1)
GO
INSERT [dbo].[Actions] ([Id], [FaName], [ActionBit], [Priority], [IsIndex], [ControllerId]) VALUES (2, N'ایجاد', 2, 2, 0, 1)
GO
INSERT [dbo].[Actions] ([Id], [FaName], [ActionBit], [Priority], [IsIndex], [ControllerId]) VALUES (3, N'ویرایش', 3, 3, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 
GO
INSERT [dbo].[Cities] ([Id], [Name], [ProvinceId]) VALUES (1, N'شیراز', 1)
GO
INSERT [dbo].[Cities] ([Id], [Name], [ProvinceId]) VALUES (2, N'آبش‌احمد', 1002)
GO
INSERT [dbo].[Cities] ([Id], [Name], [ProvinceId]) VALUES (3, N'آچاچی', 1002)
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Controllers] ON 
GO
INSERT [dbo].[Controllers] ([Id], [FaName], [EnName], [Icone], [Priority], [ModuleId]) VALUES (1, N'درس', N'/Lesson', N'0', 5, 2)
GO
INSERT [dbo].[Controllers] ([Id], [FaName], [EnName], [Icone], [Priority], [ModuleId]) VALUES (2, N'درخت آموزش', N'/EducationTree', N'0', 3, 2)
GO
INSERT [dbo].[Controllers] ([Id], [FaName], [EnName], [Icone], [Priority], [ModuleId]) VALUES (3, N'استان', N'/Province', N'0', 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Controllers] OFF
GO
SET IDENTITY_INSERT [dbo].[EducationSubGroups] ON 
GO
INSERT [dbo].[EducationSubGroups] ([Id], [Name], [EducationTreeId]) VALUES (10, N'یک', 77)
GO
INSERT [dbo].[EducationSubGroups] ([Id], [Name], [EducationTreeId]) VALUES (11, N'دو', 77)
GO
INSERT [dbo].[EducationSubGroups] ([Id], [Name], [EducationTreeId]) VALUES (12, N'سه', 77)
GO
SET IDENTITY_INSERT [dbo].[EducationSubGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[EducationTrees] ON 
GO
INSERT [dbo].[EducationTrees] ([Id], [Name], [ParentEducationTreeId], [LookupId_EducationTreeState]) VALUES (7, N'نظام آموزشی', NULL, 1032)
GO
INSERT [dbo].[EducationTrees] ([Id], [Name], [ParentEducationTreeId], [LookupId_EducationTreeState]) VALUES (12, N'ابتدایی', 7, 1031)
GO
INSERT [dbo].[EducationTrees] ([Id], [Name], [ParentEducationTreeId], [LookupId_EducationTreeState]) VALUES (13, N'متوسطه اول', 7, 1031)
GO
SET IDENTITY_INSERT [dbo].[EducationTrees] OFF
GO
INSERT [dbo].[EducationTrees_Lessons] ([EducationTreeId], [LessonId]) VALUES (80, 33)
GO
INSERT [dbo].[EducationTrees_Lessons] ([EducationTreeId], [LessonId]) VALUES (87, 33)
GO
INSERT [dbo].[EducationTrees_Lessons] ([EducationTreeId], [LessonId]) VALUES (104, 33)
GO
SET IDENTITY_INSERT [dbo].[EducationYears] ON 
GO
INSERT [dbo].[EducationYears] ([Id], [Name], [IsActiveYear]) VALUES (2, N'95-96', 0)
GO
SET IDENTITY_INSERT [dbo].[EducationYears] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 
GO
INSERT [dbo].[Lessons] ([Id], [Name], [IsMain], [LookupId_Nezam]) VALUES (33, N'ریاضی 1', 1, 1028)
GO
INSERT [dbo].[Lessons] ([Id], [Name], [IsMain], [LookupId_Nezam]) VALUES (34, N'ریاضی 2 تجربی', 1, 1028)
GO
INSERT [dbo].[Lessons] ([Id], [Name], [IsMain], [LookupId_Nezam]) VALUES (35, N'ریاضی 3 تجربی', 1, 1028)
GO
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Lookups] ON 
GO
INSERT [dbo].[Lookups] ([Id], [Name], [Value], [State]) VALUES (1, N'PaperType', N'سفید', 0)
GO
INSERT [dbo].[Lookups] ([Id], [Name], [Value], [State]) VALUES (2, N'PaperType', N'کاهی', 0)
GO
INSERT [dbo].[Lookups] ([Id], [Name], [Value], [State]) VALUES (3, N'PaperType', N'گلاسه', 0)
GO
SET IDENTITY_INSERT [dbo].[Lookups] OFF
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 
GO
INSERT [dbo].[Modules] ([Id], [Name], [Priority]) VALUES (1, N'کاربران', 1)
GO
INSERT [dbo].[Modules] ([Id], [Name], [Priority]) VALUES (2, N'اطلاعات پایه', 2)
GO
INSERT [dbo].[Modules] ([Id], [Name], [Priority]) VALUES (3, N'گزارش ها', 3)
GO
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 
GO
INSERT [dbo].[Provinces] ([Id], [Name], [Code]) VALUES (1, N'فارس', N'071')
GO
INSERT [dbo].[Provinces] ([Id], [Name], [Code]) VALUES (1001, N'اصفهان', N'031')
GO
INSERT [dbo].[Provinces] ([Id], [Name], [Code]) VALUES (1002, N'آذربایجان شرقی', N'1')
GO
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
INSERT [dbo].[Questions_Tags] ([QuestionId], [TagId]) VALUES (65, 3)
GO
SET IDENTITY_INSERT [dbo].[Ratios] ON 
GO
INSERT [dbo].[Ratios] ([Id], [Rate], [LessonId], [EducationSubGroupId]) VALUES (135, 0, 42, 13)
GO
INSERT [dbo].[Ratios] ([Id], [Rate], [LessonId], [EducationSubGroupId]) VALUES (136, 0, 42, 14)
GO
INSERT [dbo].[Ratios] ([Id], [Rate], [LessonId], [EducationSubGroupId]) VALUES (137, 0, 42, 15)
GO
SET IDENTITY_INSERT [dbo].[Ratios] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 
GO
INSERT [dbo].[Roles] ([Id], [Name], [Level], [SumOfActionBit], [UserType]) VALUES (1, N'ادمین', 1, N'11111111111111111111111100001111111111111111111111111111111110000000011111111111111110', 0)
GO
INSERT [dbo].[Roles] ([Id], [Name], [Level], [SumOfActionBit], [UserType]) VALUES (2, N'کاربری ارشد', 2, N'11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111110', 0)
GO
INSERT [dbo].[Roles] ([Id], [Name], [Level], [SumOfActionBit], [UserType]) VALUES (3, N'کاربر سیستم', 4, N'0', 0)
GO
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[Students] ([Id], [FatherName], [Address]) VALUES (9, N'ییی', N'ییی')
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 
GO
INSERT [dbo].[Tags] ([Id], [Name], [IsSource]) VALUES (2, N'شیمی', 0)
GO
INSERT [dbo].[Tags] ([Id], [Name], [IsSource]) VALUES (3, N'ریاضی', 0)
GO
INSERT [dbo].[Tags] ([Id], [Name], [IsSource]) VALUES (4, N'فیزیک', 0)
GO
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 
GO
INSERT [dbo].[Topics] ([Id], [Title], [ExamStock], [ExamStockSystem], [Importance], [IsExamSource], [LookupId_HardnessType], [LookupId_AreaType], [IsActive], [ParentTopicId], [LessonId]) VALUES (3033, N'ریاضی1', 123, 0, 123, 1, 1037, 1036, 1, NULL, 33)
GO
INSERT [dbo].[Topics] ([Id], [Title], [ExamStock], [ExamStockSystem], [Importance], [IsExamSource], [LookupId_HardnessType], [LookupId_AreaType], [IsActive], [ParentTopicId], [LessonId]) VALUES (3034, N'فصل1- مجموعه الگو ودنباله', 123, 0, 123, 1, 1037, 1036, 1, 3033, 33)
GO
INSERT [dbo].[Topics] ([Id], [Title], [ExamStock], [ExamStockSystem], [Importance], [IsExamSource], [LookupId_HardnessType], [LookupId_AreaType], [IsActive], [ParentTopicId], [LessonId]) VALUES (3036, N'فصل2- مثلثات', 1, 0, 1, 1, 8, 15, 0, 3033, 33)
GO
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
INSERT [dbo].[Topics_Questions] ([TopicId], [QuestionId]) VALUES (3362, 62)
GO
INSERT [dbo].[Topics_Questions] ([TopicId], [QuestionId]) VALUES (3351, 63)
GO
INSERT [dbo].[Topics_Questions] ([TopicId], [QuestionId]) VALUES (3352, 63)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([Id], [Name], [Family], [Username], [Password], [NationalNo], [Gender], [Phone], [Mobile], [IsAdmin], [IsActive], [LastLogin], [RoleId], [CityId]) VALUES (1, N'علیرضا', N'اعتمادی', N'alireza', N'alireza@', N'2280707675', 1, N'', N'', 1, 1, CAST(N'2018-06-18T10:41:43.653' AS DateTime), 1, 1)
GO
INSERT [dbo].[Users] ([Id], [Name], [Family], [Username], [Password], [NationalNo], [Gender], [Phone], [Mobile], [IsAdmin], [IsActive], [LastLogin], [RoleId], [CityId]) VALUES (9, N'هاشم', N'معین', N'moein', N'hashem70', N'2281035484', 1, N'37436619', N'9176882401', 0, 1, CAST(N'2018-08-06T05:08:22.940' AS DateTime), 2005, 1)
GO
INSERT [dbo].[Users] ([Id], [Name], [Family], [Username], [Password], [NationalNo], [Gender], [Phone], [Mobile], [IsAdmin], [IsActive], [LastLogin], [RoleId], [CityId]) VALUES (1003, N'حسین', N'شریعتمداری', N'hoseinshary', N'hosein70', N'2281008185', 1, N'07136267', N'2134343434', 0, 1, CAST(N'2018-08-18T21:59:21.693' AS DateTime), 2, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_ControllerId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_ControllerId] ON [dbo].[Actions]
(
	[ControllerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_BookType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_BookType] ON [dbo].[AxillaryBooks]
(
	[LookupId_BookType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_PaperType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_PaperType] ON [dbo].[AxillaryBooks]
(
	[LookupId_PaperType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_PrintType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_PrintType] ON [dbo].[AxillaryBooks]
(
	[LookupId_PrintType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublisherId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_PublisherId] ON [dbo].[AxillaryBooks]
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_AxillaryBook_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_AxillaryBook_Name] ON [dbo].[AxillaryBooks]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AxillaryBookId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_AxillaryBookId] ON [dbo].[AxillaryBooks_EducationBooks]
(
	[AxillaryBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationBookId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationBookId] ON [dbo].[AxillaryBooks_EducationBooks]
(
	[EducationBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[Boxes]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProvinceId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceId] ON [dbo].[Cities]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_ModuleId] ON [dbo].[Controllers]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[EducationBooks]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_EducationBook_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_EducationBook_Name] ON [dbo].[EducationBooks]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationTreeId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationTreeId] ON [dbo].[EducationSubGroups]
(
	[EducationTreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_EducationTreeState]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_EducationTreeState] ON [dbo].[EducationTrees]
(
	[LookupId_EducationTreeState] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentEducationTreeId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_ParentEducationTreeId] ON [dbo].[EducationTrees]
(
	[ParentEducationTreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationTreeId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationTreeId] ON [dbo].[EducationTrees_Lessons]
(
	[EducationTreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[EducationTrees_Lessons]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_EducationYear_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_EducationYear_Name] ON [dbo].[EducationYears]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationTreeId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationTreeId] ON [dbo].[Exams]
(
	[EducationTreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationYearId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationYearId] ON [dbo].[Exams]
(
	[EducationYearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationSubGroup_Id]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationSubGroup_Id] ON [dbo].[HistoryEducations]
(
	[EducationSubGroup_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationTreeId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationTreeId] ON [dbo].[HistoryEducations]
(
	[EducationTreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExamId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_ExamId] ON [dbo].[HistoryEducations]
(
	[ExamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[HistoryEducations]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[HistoryEducations_Cities]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistoryEducationId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_HistoryEducationId] ON [dbo].[HistoryEducations_Cities]
(
	[HistoryEducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistoryEducationId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_HistoryEducationId] ON [dbo].[HistoryEducations_UniversityBranchs]
(
	[HistoryEducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UniversityBranchId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_UniversityBranchId] ON [dbo].[HistoryEducations_UniversityBranchs]
(
	[UniversityBranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_Nezam]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_Nezam] ON [dbo].[Lessons]
(
	[LookupId_Nezam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Lesson_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Lesson_Name] ON [dbo].[Lessons]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Module_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Module_Name] ON [dbo].[Modules]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Province_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Province_Name] ON [dbo].[Provinces]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Publisher_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Publisher_Name] ON [dbo].[Publishers]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_AnswerType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_AnswerType] ON [dbo].[QuestionAnswers]
(
	[LookupId_AnswerType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[QuestionAnswers]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[QuestionAnswers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnswerId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_AnswerId] ON [dbo].[QuestionAnswerViews]
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[QuestionAnswerViews]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId1]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId1] ON [dbo].[QuestionEquals]
(
	[QuestionId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId2]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId2] ON [dbo].[QuestionEquals]
(
	[QuestionId2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[QuestionGroups]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[QuestionGroups]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionGroupId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionGroupId] ON [dbo].[QuestionGroups_Questions]
(
	[QuestionGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[QuestionGroups_Questions]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[QuestionJudges]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[QuestionOptions]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lookup_AreaType_Id]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_Lookup_AreaType_Id] ON [dbo].[Questions]
(
	[Lookup_AreaType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lookup_AuthorType_Id]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_Lookup_AuthorType_Id] ON [dbo].[Questions]
(
	[Lookup_AuthorType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_QuestionHardnessType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_QuestionHardnessType] ON [dbo].[Questions]
(
	[LookupId_QuestionHardnessType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_QuestionType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_QuestionType] ON [dbo].[Questions]
(
	[LookupId_QuestionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_RepeatnessType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_RepeatnessType] ON [dbo].[Questions]
(
	[LookupId_RepeatnessType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Questions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BoxId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_BoxId] ON [dbo].[Questions_Boxes]
(
	[BoxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[Questions_Boxes]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[Questions_Tags]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TagId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_TagId] ON [dbo].[Questions_Tags]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationSubGroupId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationSubGroupId] ON [dbo].[Ratios]
(
	[EducationSubGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[Ratios]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Role_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Role_Name] ON [dbo].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[Students]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Tag_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Tag_Name] ON [dbo].[Tags]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Teachers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[Topics]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_AreaType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_AreaType] ON [dbo].[Topics]
(
	[LookupId_AreaType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookupId_HardnessType]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_LookupId_HardnessType] ON [dbo].[Topics]
(
	[LookupId_HardnessType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentTopicId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_ParentTopicId] ON [dbo].[Topics]
(
	[ParentTopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationBookId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationBookId] ON [dbo].[Topics_EducationBooks]
(
	[EducationBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopicId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_TopicId] ON [dbo].[Topics_EducationBooks]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[Topics_Questions]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopicId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_TopicId] ON [dbo].[Topics_Questions]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EducationSubGroupId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_EducationSubGroupId] ON [dbo].[UniversityBranches]
(
	[EducationSubGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_UniversityBranch_Name]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_UniversityBranch_Name] ON [dbo].[UniversityBranches]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_CityId] ON [dbo].[Users]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_User_NationalNo]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_User_NationalNo] ON [dbo].[Users]
(
	[NationalNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_User_Username]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_User_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [AnswerNumber]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [UserType]
GO
ALTER TABLE [dbo].[Topics] ADD  CONSTRAINT [DF_Topics_ExamStockSystem]  DEFAULT ((0)) FOR [ExamStockSystem]
GO
ALTER TABLE [dbo].[Topics] ADD  CONSTRAINT [DF_Topics_Importance]  DEFAULT ((0)) FOR [Importance]
GO
ALTER TABLE [dbo].[Actions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Actions_dbo.Controllers_ControllerId] FOREIGN KEY([ControllerId])
REFERENCES [dbo].[Controllers] ([Id])
GO
ALTER TABLE [dbo].[Actions] CHECK CONSTRAINT [FK_dbo.Actions_dbo.Controllers_ControllerId]
GO
ALTER TABLE [dbo].[AxillaryBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AxillaryBooks_dbo.Lookups_LookupId_BookType] FOREIGN KEY([LookupId_BookType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[AxillaryBooks] CHECK CONSTRAINT [FK_dbo.AxillaryBooks_dbo.Lookups_LookupId_BookType]
GO
ALTER TABLE [dbo].[AxillaryBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AxillaryBooks_dbo.Lookups_LookupId_PaperType] FOREIGN KEY([LookupId_PaperType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[AxillaryBooks] CHECK CONSTRAINT [FK_dbo.AxillaryBooks_dbo.Lookups_LookupId_PaperType]
GO
ALTER TABLE [dbo].[AxillaryBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AxillaryBooks_dbo.Lookups_LookupId_PrintType] FOREIGN KEY([LookupId_PrintType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[AxillaryBooks] CHECK CONSTRAINT [FK_dbo.AxillaryBooks_dbo.Lookups_LookupId_PrintType]
GO
ALTER TABLE [dbo].[AxillaryBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AxillaryBooks_dbo.Publishers_PublisherId] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[AxillaryBooks] CHECK CONSTRAINT [FK_dbo.AxillaryBooks_dbo.Publishers_PublisherId]
GO
ALTER TABLE [dbo].[AxillaryBooks_EducationBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AxillaryBooks_EducationBooks_dbo.AxillaryBooks_AxillaryBookId] FOREIGN KEY([AxillaryBookId])
REFERENCES [dbo].[AxillaryBooks] ([Id])
GO
ALTER TABLE [dbo].[AxillaryBooks_EducationBooks] CHECK CONSTRAINT [FK_dbo.AxillaryBooks_EducationBooks_dbo.AxillaryBooks_AxillaryBookId]
GO
ALTER TABLE [dbo].[AxillaryBooks_EducationBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AxillaryBooks_EducationBooks_dbo.EducationBooks_EducationBookId] FOREIGN KEY([EducationBookId])
REFERENCES [dbo].[EducationBooks] ([Id])
GO
ALTER TABLE [dbo].[AxillaryBooks_EducationBooks] CHECK CONSTRAINT [FK_dbo.AxillaryBooks_EducationBooks_dbo.EducationBooks_EducationBookId]
GO
ALTER TABLE [dbo].[Boxes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Boxes_dbo.Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[Boxes] CHECK CONSTRAINT [FK_dbo.Boxes_dbo.Teachers_TeacherId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[Controllers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Controllers_dbo.Modules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([Id])
GO
ALTER TABLE [dbo].[Controllers] CHECK CONSTRAINT [FK_dbo.Controllers_dbo.Modules_ModuleId]
GO
ALTER TABLE [dbo].[EducationBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EducationBooks_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
GO
ALTER TABLE [dbo].[EducationBooks] CHECK CONSTRAINT [FK_dbo.EducationBooks_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[EducationSubGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EducationSubGroups_dbo.EducationTrees_EducationTreeId] FOREIGN KEY([EducationTreeId])
REFERENCES [dbo].[EducationTrees] ([Id])
GO
ALTER TABLE [dbo].[EducationSubGroups] CHECK CONSTRAINT [FK_dbo.EducationSubGroups_dbo.EducationTrees_EducationTreeId]
GO
ALTER TABLE [dbo].[EducationTrees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EducationTrees_dbo.EducationTrees_ParentEducationTreeId] FOREIGN KEY([ParentEducationTreeId])
REFERENCES [dbo].[EducationTrees] ([Id])
GO
ALTER TABLE [dbo].[EducationTrees] CHECK CONSTRAINT [FK_dbo.EducationTrees_dbo.EducationTrees_ParentEducationTreeId]
GO
ALTER TABLE [dbo].[EducationTrees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EducationTrees_dbo.Lookups_LookupId_EducationTree] FOREIGN KEY([LookupId_EducationTreeState])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[EducationTrees] CHECK CONSTRAINT [FK_dbo.EducationTrees_dbo.Lookups_LookupId_EducationTree]
GO
ALTER TABLE [dbo].[EducationTrees_Lessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EducationTrees_Lessons_dbo.EducationTrees_EducationTreeId] FOREIGN KEY([EducationTreeId])
REFERENCES [dbo].[EducationTrees] ([Id])
GO
ALTER TABLE [dbo].[EducationTrees_Lessons] CHECK CONSTRAINT [FK_dbo.EducationTrees_Lessons_dbo.EducationTrees_EducationTreeId]
GO
ALTER TABLE [dbo].[EducationTrees_Lessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EducationTrees_Lessons_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
GO
ALTER TABLE [dbo].[EducationTrees_Lessons] CHECK CONSTRAINT [FK_dbo.EducationTrees_Lessons_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exams_dbo.EducationTrees_EducationTreeId] FOREIGN KEY([EducationTreeId])
REFERENCES [dbo].[EducationTrees] ([Id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_dbo.Exams_dbo.EducationTrees_EducationTreeId]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exams_dbo.EducationYears_EducationYearId] FOREIGN KEY([EducationYearId])
REFERENCES [dbo].[EducationYears] ([Id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_dbo.Exams_dbo.EducationYears_EducationYearId]
GO
ALTER TABLE [dbo].[HistoryEducations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoryEducations_dbo.EducationSubGroups_EducationSubGroup_Id] FOREIGN KEY([EducationSubGroup_Id])
REFERENCES [dbo].[EducationSubGroups] ([Id])
GO
ALTER TABLE [dbo].[HistoryEducations] CHECK CONSTRAINT [FK_dbo.HistoryEducations_dbo.EducationSubGroups_EducationSubGroup_Id]
GO
ALTER TABLE [dbo].[HistoryEducations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoryEducations_dbo.EducationTrees_EducationTreeId] FOREIGN KEY([EducationTreeId])
REFERENCES [dbo].[EducationTrees] ([Id])
GO
ALTER TABLE [dbo].[HistoryEducations] CHECK CONSTRAINT [FK_dbo.HistoryEducations_dbo.EducationTrees_EducationTreeId]
GO
ALTER TABLE [dbo].[HistoryEducations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoryEducations_dbo.Exams_ExamId] FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exams] ([Id])
GO
ALTER TABLE [dbo].[HistoryEducations] CHECK CONSTRAINT [FK_dbo.HistoryEducations_dbo.Exams_ExamId]
GO
ALTER TABLE [dbo].[HistoryEducations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoryEducations_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[HistoryEducations] CHECK CONSTRAINT [FK_dbo.HistoryEducations_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[HistoryEducations_Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoryEducations_Cities_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[HistoryEducations_Cities] CHECK CONSTRAINT [FK_dbo.HistoryEducations_Cities_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[HistoryEducations_Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoryEducations_Cities_dbo.HistoryEducations_HistoryEducationId] FOREIGN KEY([HistoryEducationId])
REFERENCES [dbo].[HistoryEducations] ([Id])
GO
ALTER TABLE [dbo].[HistoryEducations_Cities] CHECK CONSTRAINT [FK_dbo.HistoryEducations_Cities_dbo.HistoryEducations_HistoryEducationId]
GO
ALTER TABLE [dbo].[HistoryEducations_UniversityBranchs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoryEducations_UniversityBranchs_dbo.HistoryEducations_HistoryEducationId] FOREIGN KEY([HistoryEducationId])
REFERENCES [dbo].[HistoryEducations] ([Id])
GO
ALTER TABLE [dbo].[HistoryEducations_UniversityBranchs] CHECK CONSTRAINT [FK_dbo.HistoryEducations_UniversityBranchs_dbo.HistoryEducations_HistoryEducationId]
GO
ALTER TABLE [dbo].[HistoryEducations_UniversityBranchs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HistoryEducations_UniversityBranchs_dbo.UniversityBranches_UniversityBranchId] FOREIGN KEY([UniversityBranchId])
REFERENCES [dbo].[UniversityBranches] ([Id])
GO
ALTER TABLE [dbo].[HistoryEducations_UniversityBranchs] CHECK CONSTRAINT [FK_dbo.HistoryEducations_UniversityBranchs_dbo.UniversityBranches_UniversityBranchId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lessons_dbo.Lookups_LookupId_Nezam] FOREIGN KEY([LookupId_Nezam])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_dbo.Lessons_dbo.Lookups_LookupId_Nezam]
GO
ALTER TABLE [dbo].[QuestionAnswers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswers_dbo.Lookups_LookupId_AnswerType] FOREIGN KEY([LookupId_AnswerType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[QuestionAnswers] CHECK CONSTRAINT [FK_dbo.QuestionAnswers_dbo.Lookups_LookupId_AnswerType]
GO
ALTER TABLE [dbo].[QuestionAnswers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswers_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[QuestionAnswers] CHECK CONSTRAINT [FK_dbo.QuestionAnswers_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[QuestionAnswers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswers_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[QuestionAnswers] CHECK CONSTRAINT [FK_dbo.QuestionAnswers_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[QuestionAnswerViews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswerViews_dbo.QuestionAnswers_AnswerId] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[QuestionAnswers] ([Id])
GO
ALTER TABLE [dbo].[QuestionAnswerViews] CHECK CONSTRAINT [FK_dbo.QuestionAnswerViews_dbo.QuestionAnswers_AnswerId]
GO
ALTER TABLE [dbo].[QuestionAnswerViews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionAnswerViews_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[QuestionAnswerViews] CHECK CONSTRAINT [FK_dbo.QuestionAnswerViews_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[QuestionEquals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionEquals_dbo.Questions_QuestionId1] FOREIGN KEY([QuestionId1])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[QuestionEquals] CHECK CONSTRAINT [FK_dbo.QuestionEquals_dbo.Questions_QuestionId1]
GO
ALTER TABLE [dbo].[QuestionEquals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionEquals_dbo.Questions_QuestionId2] FOREIGN KEY([QuestionId2])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[QuestionEquals] CHECK CONSTRAINT [FK_dbo.QuestionEquals_dbo.Questions_QuestionId2]
GO
ALTER TABLE [dbo].[QuestionGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionGroups_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
GO
ALTER TABLE [dbo].[QuestionGroups] CHECK CONSTRAINT [FK_dbo.QuestionGroups_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[QuestionGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionGroups_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[QuestionGroups] CHECK CONSTRAINT [FK_dbo.QuestionGroups_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[QuestionGroups_Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionGroups_Questions_dbo.QuestionGroups_QuestionGroupId] FOREIGN KEY([QuestionGroupId])
REFERENCES [dbo].[QuestionGroups] ([Id])
GO
ALTER TABLE [dbo].[QuestionGroups_Questions] CHECK CONSTRAINT [FK_dbo.QuestionGroups_Questions_dbo.QuestionGroups_QuestionGroupId]
GO
ALTER TABLE [dbo].[QuestionGroups_Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionGroups_Questions_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[QuestionGroups_Questions] CHECK CONSTRAINT [FK_dbo.QuestionGroups_Questions_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[QuestionJudges]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionJudges_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[QuestionJudges] CHECK CONSTRAINT [FK_dbo.QuestionJudges_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[QuestionOptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionOptions_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[QuestionOptions] CHECK CONSTRAINT [FK_dbo.QuestionOptions_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Lookups_Lookup_AreaType_Id] FOREIGN KEY([Lookup_AreaType_Id])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Lookups_Lookup_AreaType_Id]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Lookups_Lookup_AuthorType_Id] FOREIGN KEY([Lookup_AuthorType_Id])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Lookups_Lookup_AuthorType_Id]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Lookups_LookupId_QuestionHardnessType] FOREIGN KEY([LookupId_QuestionHardnessType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Lookups_LookupId_QuestionHardnessType]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Lookups_LookupId_QuestionType] FOREIGN KEY([LookupId_QuestionType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Lookups_LookupId_QuestionType]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Lookups_LookupId_RepeatnessType] FOREIGN KEY([LookupId_RepeatnessType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Lookups_LookupId_RepeatnessType]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Questions_Boxes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_Boxes_dbo.Boxes_BoxId] FOREIGN KEY([BoxId])
REFERENCES [dbo].[Boxes] ([Id])
GO
ALTER TABLE [dbo].[Questions_Boxes] CHECK CONSTRAINT [FK_dbo.Questions_Boxes_dbo.Boxes_BoxId]
GO
ALTER TABLE [dbo].[Questions_Boxes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_Boxes_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[Questions_Boxes] CHECK CONSTRAINT [FK_dbo.Questions_Boxes_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Questions_Tags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_Tags_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[Questions_Tags] CHECK CONSTRAINT [FK_dbo.Questions_Tags_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Questions_Tags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_Tags_dbo.Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[Questions_Tags] CHECK CONSTRAINT [FK_dbo.Questions_Tags_dbo.Tags_TagId]
GO
ALTER TABLE [dbo].[Ratios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ratios_dbo.EducationSubGroups_EducationSubGroupId] FOREIGN KEY([EducationSubGroupId])
REFERENCES [dbo].[EducationSubGroups] ([Id])
GO
ALTER TABLE [dbo].[Ratios] CHECK CONSTRAINT [FK_dbo.Ratios_dbo.EducationSubGroups_EducationSubGroupId]
GO
ALTER TABLE [dbo].[Ratios]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ratios_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
GO
ALTER TABLE [dbo].[Ratios] CHECK CONSTRAINT [FK_dbo.Ratios_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Users_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Users_Id]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_dbo.Topics_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_dbo.Lookups_LookupId_AreaType] FOREIGN KEY([LookupId_AreaType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_dbo.Topics_dbo.Lookups_LookupId_AreaType]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_dbo.Lookups_LookupId_HardnessType] FOREIGN KEY([LookupId_HardnessType])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_dbo.Topics_dbo.Lookups_LookupId_HardnessType]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_dbo.Topics_ParentTopicId] FOREIGN KEY([ParentTopicId])
REFERENCES [dbo].[Topics] ([Id])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_dbo.Topics_dbo.Topics_ParentTopicId]
GO
ALTER TABLE [dbo].[Topics_EducationBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_EducationBooks_dbo.EducationBooks_EducationBookId] FOREIGN KEY([EducationBookId])
REFERENCES [dbo].[EducationBooks] ([Id])
GO
ALTER TABLE [dbo].[Topics_EducationBooks] CHECK CONSTRAINT [FK_dbo.Topics_EducationBooks_dbo.EducationBooks_EducationBookId]
GO
ALTER TABLE [dbo].[Topics_EducationBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_EducationBooks_dbo.Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
GO
ALTER TABLE [dbo].[Topics_EducationBooks] CHECK CONSTRAINT [FK_dbo.Topics_EducationBooks_dbo.Topics_TopicId]
GO
ALTER TABLE [dbo].[Topics_Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_Questions_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[Topics_Questions] CHECK CONSTRAINT [FK_dbo.Topics_Questions_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Topics_Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Topics_Questions_dbo.Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
GO
ALTER TABLE [dbo].[Topics_Questions] CHECK CONSTRAINT [FK_dbo.Topics_Questions_dbo.Topics_TopicId]
GO
ALTER TABLE [dbo].[UniversityBranches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UniversityBranches_dbo.EducationSubGroups_EducationSubGroupId] FOREIGN KEY([EducationSubGroupId])
REFERENCES [dbo].[EducationSubGroups] ([Id])
GO
ALTER TABLE [dbo].[UniversityBranches] CHECK CONSTRAINT [FK_dbo.UniversityBranches_dbo.EducationSubGroups_EducationSubGroupId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateAdminRole]    Script Date: 2019/02/17 07:29:39 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[spUpdateAdminRole]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   	update Roles set SumOfActionBit = (select dbo.fnGetAdminAcceess()) where id = 1
END
GO
USE [master]
GO
