@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-persian-digits-overwrite.woff");
  /*src: url('../fonts/Vazir-Bold-persian-digits-overwrite.woff');*/
}

html,
body {
  font-family: Vazir, Tahoma;
  font-size: 11px;
  height: 100%;
  background-color: #ecf0f5;
}
.q-icon.material-icons.on-left {
  margin: 1;
}
/* .q-field-bottom.row.no-wrap {
  position: absolute;
} */

.q-if-inner .q-if-label {
  font-size: larger;
}
.q-if-inner .q-if-label.q-if-label-above {
  font-size: large;
}
.form-group .q-input {
  border: solid whitesmoke;
  border-radius: 10px;
}
.form-group {
  margin-bottom: 15px;
  padding: 10px;
}
.form-group.error {
  position: relative;
}
.form-error.is-visible {
  color: #db2828;
  position: absolute;
}
.deleteAlert {
  color: #db845b;
  margin: auto;
  font-size: 20px;
}
.deleteAlert span {
  color: red;
}
.tblCreateBtn {
  padding: 10px;
  width: 120px;
}
.q-table-container {
  margin: auto;
}
.tabl-md .q-table-container {
  width: 75vw;
}
.tabl-lg .q-table-container {
  width: 85vw;
}
.tabl-lg .q-table-container {
  width: 95vw;
}
.q-table-container.fullscreen {
  width: 100vw;
}
/* .selectContiner div.q-select {
  margin-top: 2px;
} */
/* .selectContiner div.no-wrap.relative-position {
  height: 44px;
} */
